<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">foodNinja</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
			  <li ng-class="{active: isActive('/')}"><a ng-href="#">Home</a></li>
        <li ng-class="{active: isActive('/auth')}"><a ng-href="#/auth">Auth</a></li>
			  <li ng-class="{active: isActive('/upload')}"><a ng-href="#/upload">Upload</a></li>
			  <li ng-class="{active: isActive('/reciept')}"><a ng-href="#/reciept">Receipts</a></li>
        <li ng-class="{active: isActive('/expire')}"><a ng-href="#/expire">Expirations</a></li>
			  <!-- <li ng-class="{active: isActive('/document')}"><a ng-href="#/document">Docs</a></li> -->
			</ul>
    </div>
  </div>
</nav>