<ul class="nav nav-pills pull-right">
  <li ng-class="{active: isActive('/')}"><a ng-href="#">Home</a></li>
  <li ng-class="{active: isActive('/upload')}"><a ng-href="#/upload">Upload</a></li>
  <li ng-class="{active: isActive('/reciepts')}"><a ng-href="#/reciepts">Reciepts</a></li>
  <li ng-class="{active: isActive('/documents')}"><a ng-href="#/documents">Docs</a></li>
  <li ng-class="{active: isActive('/auth')}"><a ng-href="#/auth">Auth</a></li>
  <li ng-class="{active: isActive('/dataparser')}"><a ng-href="#/dataparser">Parser</a></li>
</ul>