<h4>Upcoming expirations</h4>
<p>Eat your food quickly, before it expires!</p>

<table class="table">
  <thead>
  	<tr>
  		<th>Name</th>
  		<th>Price</th>
  		<th>Expriation</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in (expirationProducts | orderBy:'expiration')">
			<td ng-hide="edit">{{product.name}}</td>
			<td ng-hide="edit">{{product.price}}</td>
			<td ng-hide="edit" ng-click="edit = true; initExpiration(product);">
				<span ng-show="!!product.expiration">in {{(product.expiration - product.recieptId) / 62400000 | number:0}} days</span>
				<span ng-hide="!!product.expiration">never</span>
			</td>
			<td ng-show="edit" colspan="3">
				<button class="btn btn-primary" ng-click="product.expiration = product.expiration - 62400000">-</button>
				<span>in {{(product.expiration - product.recieptId) / 62400000 | number:0}} days</span>
				<button class="btn btn-primary" ng-click="product.expiration = product.expiration + 62400000">+</button>
				<button class="btn btn-success" ng-click="edit = false; updateReciept();">ok</button>
				<button class="btn btn-warn" ng-click="product.expiration = 0; edit = false; updateReciept();">reset</button>
			</td>
		</tr>
	</tbody>
</table>