<div class="jumbotron">
  <h1>Food Ninja!</h1>
  <p class="lead">
    <img src="images/ninja.png" alt="I'm Yeoman"><br>
    Your silent food tracker!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/auth">Dispatch your ninja  <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>FoodNinja</h4>
  <p>
    Keeps track of your groceries by scanning your reciepts. You tell him when food expires, and he'll make sure to 
    remind you on your next shopping trip. 
  </p>
</div>
